<nav class="navbar navbar-expand-lg navbar-light mb-4">
  <div class="ms-auto dropdown">
    <button
      class="btn btn-outline-secondary dropdown-toggle"
      type="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      👤 Profile
    </button>
    <ul class="dropdown-menu dropdown-menu-end">
      <li>
        <a class="dropdown-item" href="/admin/change-password"
          >Change Password</a
        >
      </li>
      <li><a class="dropdown-item" href="/logout">Logout</a></li>
    </ul>
  </div>
</nav>
